::selection{
    color: white;
    background-color: rgb(43, 89, 226);
}

body{
    font-size: 20px;
    text-align: center;
    font-family: poppins medium;
    align-items: center;
    justify-content: center;
}

.block{
    background-color: lightblue; 
    padding: 20px; 
    border: 20px solid white; 
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

