
.formBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
    gap: 1rem;
}

.formHead{
    font-size: 3rem;
    font-weight: 400;
}

.formInputField{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 0.5rem;
}

h2{
    font-size: 2rem;
    font-weight: 400;
}

button{
    border-radius: 35px;
    font-size: 1.2rem;
    padding: 0.8rem;
    cursor: pointer;
}

p{
    font-family: 'digital tech';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(64, 222, 64);
    padding: 1.4rem;
    border-radius: 25px;
    background-color: rgb(67, 67, 67);
    cursor: pointer;
}

#liveText{
    padding-top: 0;
    background-color: transparent;
}

#outputTabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}