* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1.8vw;
    padding-top: 15.2vw;
}

#page1 h1{
    font-size: 15.5vw;
    font-family: Futura-Bold;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -4.2px;
}