
body{
  background-image: linear-gradient(to right, #3446AA , #000330); 

}

.font-Epilogue {
  font-family: 'Epilogue';
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 2.1em;
  letter-spacing: 10px;
  color: white;
  line-height: 20px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 4px;
  color: white;
  line-height: 10px;
}

.todo-card{
  background-color: #000330;
  padding: 42px;
  border-radius: 25px;

}

.title{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 450px;
  border: solid 3px #5066d0;
  border-radius: 35px;
  padding: 28px;
  gap: 0;
}

.tasks-display{
  width: 120px;
  height: 120px;
  background-color: #848DFF;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-count{
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  line-height: 10px;
}

.input-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  padding-left: 4px;
  padding-right: 4px;
}

.input-box{
  background-color: #12153e;
  border: solid 2px #5066d0;
  border-radius: 15px;
  padding: 12px;
  width: 100%;
  height: 30px;
  color: white;
  font-size: medium;
  outline: none;
}

.input-button{
  background-color: #848DFF;
  height: 60px;
  width: 68px;
  color: #000330;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  font-size: 28px;
  user-select: none;
}

.input-button:hover{
  background-color: #3446AA;
  color: white;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  background-color: #12153e;
  border: solid 1px #5066d0;
  border-radius: 15px;
  padding: 12px;
  height: 30px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  outline: none;
  cursor: pointer;
}

li:hover{
  background-color: #2f3261;
}

.input-checkbox{
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #000330;
  border: solid 2px #848DFF;
  cursor: pointer;
}

.input-checkbox:hover{
  background-color: #00fff7;
}

.task-input{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}